body {
  background-color: black;
  background-image: url('backgroundImage.jpg');
  background-size: cover;
  font-size: 16px;
}

#bauen-labs-jumbotron {
  color: #fff;
  margin: 40px auto 20px auto;
  width: 75%;
  border: 1px solid #fff;
  text-align: center;
  background: none;
}

#bauen-labs-jumbotron p {
  max-width: 800px;
  margin: 0 auto;
}

#details-row-container {
  margin: auto;
  width: 75%;
  color: white
}

.btn-default {
  margin-top: 10px;
}

i.fa {
  font-size: 25px;
  vertical-align: middle;
}
